@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    padding: 10px;
    font-size: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
    height: 50px;
    width: 100%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    padding:0 10px;
}
.navbar a{
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 600;
}

/*Container*/
/*Home*/
.container{
    overflow: hidden;
}
.home{
    height: 100vh;
    width: 100%;
}
.home img{
    height: 500px;
    width: auto;
    margin-top: 60px;
    margin-left: 200px;
    border-radius: 50%;
}
.my-profile{
    display: flex;
    align-items: center;
}
.my-details{
    text-align: center;
    margin-left: 30px;
}
.my-details p{
    font-weight: 700;
    color: #3d3d3d;
}
.my-details h3{
    font-size: 40px;
}
.my-details h4{
    font-size: 24px;
    color: #3d3d3d;
}
.my-info{
    position: absolute;
    top: 410px;
    left: 760px;
}
.my-info button{
    margin: 10px 5px;
    padding: 10px 12px;
    border: 2px solid #3d3d3d;
    border-radius: 22px;
    color: #3d3d3d;
    background-color: #fff;
}
.my-info button{
    text-decoration: none;
    color: #3d3d3d;
}
.my-info button:hover{
    font-weight: normal;
    color: #fff;
    background: #3d3d3d;
}
.profile-link{
    display: flex;
}
.profile-link img{
    margin: 0 10px;
    height: 50px;
    position: relative;
    bottom: 150px;
    left: 820px;
}

/*Experience*/
.experience{
    height: 100vh;
    width: 100%;
    color: #3d3d3d;
}
.experience p, h1{
    text-align: center;
}
.experience h1{
    margin-bottom: 20px;
}
.skills{
    display: flex;
    justify-content: space-around;
}
.fontend, .other{
    padding: 20px 0;
    box-sizing: border-box;
    height: 25em;
    width: 35em;
    border: 2px solid #3d3d3d;
    border-radius: 18px;
}
.fontend h2, .other h2{
    text-align: center;
}
.skills ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px 50px;
}
.skills li{
    padding:0 10px;
    color: #3d3d3d;
}
.skills p{
    color: #7d7d7d;
    display: flex;
    flex-direction: row;
}
.skills a{
    text-decoration: none;
    color: #3d3d3d;
    font-weight: 600;
}

/*Project*/
.project{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}
.project p, h1{
    text-align: center;
}
.project h1{
    margin-bottom: 20px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    margin:0 20px;
    gap: 20px;
    overflow-x: auto;
}
.card-container::-webkit-scrollbar{
    width: 0;
}
.card{
    height: 500px;
    width: 450px;
    border: 2px solid #3d3d3d;
    border-radius: 22px;
    padding: 15px;
    -webkit-overflow-scrolling: 0;
}
.card img{
    height: 350px;
    width: 350px;
    border-radius: 22px;
}
.project-title{
    text-align: center;
    margin: 5px;
}
.project .card button{
    margin: 8px 5px;
    position: relative;
    left: 80px;
    padding: 10px 12px;
    border: 2px solid #3d3d3d;
    border-radius: 22px;
    font-weight: 600;
    color: #3d3d3d;
    background-color: #fff;
}
.project .card button:hover{
    color: #fff;
    background-color: #3d3d3d;
}

/*About*/
.about{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}
.about p, h1{
    text-align: center;
}
.about h1{
    margin-bottom: 20px;
}
.about img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-left: 10px;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.education img, .work-experience img{
    margin: 0 10px;
    height: 45px;
    width: 45px;
}
.education h3, .work-experience h3{
    text-align: center;
}
.education p, .work-experience p{
    color: #7d7d7d;
}
.work-experience, .education{
    border: 2px solid #3d3d3d;
    border-radius: 18px;
    padding: 10px;
    padding-top: 30px;
    width: 350px;
    height: 250px;
}
.work-experience:hover, .education:hover{
    box-shadow: 3px 3px 10px #3d3d3d;
}

.about-me #description{
    position: relative;
    bottom: 100px;
    left: 250px;
    padding: 0 340px;
    margin-left: 20px;
    text-align: justify;
    text-justify: distribute;
    text-wrap: balance;
}

/*Contact*/
.contact{
    height: 80vh;
    width: 100%;
    padding-top: 50px;
}
.contact p, h1{
    text-align: center;
}
.contact h1{
    margin-bottom: 20px;
}
.contact-link{
    border: 2px solid #3d3d3d;
    padding: 10px;
    border-radius: 22px;
    max-width: 500px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contact-link a{
    color: #3d3d3d;
    text-decoration: none;
}

/*Footer*/
.footer{
    text-align: center;
    padding: 20px;
}
.footer ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer li{
    list-style: none;
}
.footer a{
    font-size: 18px;
    text-decoration: none;
    color: #3d3d3d;
}

/*Mobile view*/
@media only screen and (max-width: 767px){
    .header {
        padding: 10px;
        font-size: 16px;
    }
    /*Container*/
    /*Home*/
    .home{
        height: 100vh;
        width: 100%;
        padding-top: 20px;
    }
    .home img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .navbar ul{
        display: none;
    }
    .my-profile{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .my-details p{
        font-size: 18px;
        font-weight: 700;
        color: #3d3d3d;
    }
    .my-details h3{
        font-size: 32px;
    }
    .my-details h4{
        font-size: 22px;
        color: #3d3d3d;
    }
    .my-info{
        position: absolute;
        top: 540px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
    }
    .my-info button{
        margin: 0 5px;
        padding: 10px 12px;
        border: 2px solid #3d3d3d;
        border-radius: 22px;
        font-weight: 600;
        color: #3d3d3d;
        white-space: nowrap;
    }
    .my-info button:hover{
        color: #fff;
        background-color: #3d3d3d;
    }
    .profile-link{
        display: flex;
    }
    .profile-link img{
        margin: 0 10px;
        height: 50px;
        width: 50px;
        position: relative;
        top: 80px;
        left: 50%;
        transform: translateX(-125%);
    }
    .my-details p,.my-details h3,.my-details h4{
        margin-right: 30px;
    }
    /*Experience*/
    .experience{
        height: 100vh;
        width: 100%;
        color: #3d3d3d;
        padding-top: 10px;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .fontend, .other{
        padding: 20px 0;
        height: 15em;
        width: 22em;
        border: 2px solid #3d3d3d;
        border-radius: 18px;
    }
    /*Project*/
    .project{
        height: 100%;
        width: 100%;
        padding-top: 50px;
    }
    .project p, h1{
        text-align: center;
    }
    .project h1{
        margin-bottom: 20px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin:0 20px;
        gap: 20px;
        overflow-x: auto;
    }
    .card-container::-webkit-scrollbar{
        width: 0;
    }
    .card{
        height: 300px;
        width: 200px;
        border: 2px solid #3d3d3d;
        border-radius: 22px;
        padding: 12px;
        -webkit-overflow-scrolling: 0;
    }
    .card img{
        height: 170px;
        width: 170px;
        border-radius: 22px;
    }
    .project-title h2{
        text-align: center;
        /* white-space: nowrap; */
        height: 44px;
        padding: 0 0px;
        margin: 5px;
        font-size: 14px;
    }
    .project .project-link{
        display: flex;
        flex-direction: row;
    }
    .project .card button{
        margin: 0px 5px;
        padding: 8px 6px;
        position: relative;
        /* top: 20px; */
        left: 0;
        border: 2px solid #3d3d3d;
        border-radius: 22px;
        font-weight: 600;
        color: #3d3d3d;
        background-color: #fff;
    }
    .project .card button:hover{
        color: #fff;
        background-color: #3d3d3d;
    }

    /*About*/
    .about{
        position: relative;
    }
    .about img{
        height: 350px;
        width: 350px;
        border-radius: 20px;
        margin-left: 10px;
    }
    .about-me{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        overflow: hidden;
    }
    .education img, .work-experience img{
        margin: 0 10px;
        height: 45px;
        width: 45px;
    }
    .work-experience, .education{
        border: 2px solid #3d3d3d;
        border-radius: 18px;
        padding: 10px;
        padding-top: 30px;
        width: 350px;
        height: 250px;
    }
    .work-experience:hover, .education:hover{
        box-shadow: 3px 3px 10px #3d3d3d;
    }

    .about-me #description{
        position: relative;
        top: 20px;
        left: -12px;
        padding: 0 30px;
        text-align: justify;
        text-justify: distribute;
        text-wrap: balance;
    }
    
    /*Contact*/
    .contact{
        margin-top: 650px;
        height: 80vh;
        width: 100%;
    }
    .contact p, h1{
        text-align: center;
    }
    .contact h1{
        margin-bottom: 20px;
    }
    .contact-link{
        font-size: 14px;
        border: 2px solid #3d3d3d;
        padding: 10px;
        border-radius: 22px;
        gap: 10px;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
    }
    .contact-link a{
        color: #3d3d3d;
        text-decoration: none;
    }

    /*Footer*/
    .footer{
        font-size: 12px;
        text-align: center;
        padding: 20px;
    }
    .footer ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 18px;
    }
    .footer li{
        list-style: none;
    }
    .footer a{
        font-size: 16px;
        text-decoration: none;
        color: #3d3d3d;
    }

}
